@use "reset";

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #111516;
}

.main-container {
    margin: 0 auto;
    max-width: 1440px;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 120px;
}

.row {
    display: flex;
}

.main {
    color: #ffffff;
    .description {
        width: 45%;
        padding-top: 120px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .description-content-wrapper {
            max-width: 385px;
        }
        .logo {
            margin-bottom: 16px;
        }
        .subtitle {
            font-size: 20px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            margin-bottom: 16px;
        }
        .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            margin-bottom: 16px;
        }
        .green-text {
            color: #4ebd09;
        }
        .main-btn {
            margin-bottom: 30px;
            width: 100%;
            background: linear-gradient(203.2deg, #37aee2 21.67%, #1e96c8 70%);
            padding-top: 12px;
            padding-bottom: 12px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            .button-row {
                justify-content: center;
                gap: 10px;
            }
            .telegram-img {
                background-image: url(images/tg-logo.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }
    .course-name {
        background-color: #ffffff;
        color: #121617;
        width: 55%;
        font-size: 96px;
        font-weight: 600;
        line-height: 136px;
        letter-spacing: -0.05em;
        text-align: left;
        text-transform: uppercase;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .course-name-content-wrapper {
            width: min-content;
        }
        .red-text {
            color: #e7462a;
        }
        .text-and-circle-row {
            align-items: center;
            gap: 30px;
        }
        .circle {
            width: 102px;
            height: 102px;
            background-color: #e7462a;
            border-radius: 50px;
            background-image: url(images/arrow-up.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.footer {
    padding: 58px 0px;
    color: white;
    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr;
        gap: 15px;
        .subtitle {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            justify-self: flex-end;
        }
        .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            opacity: 0.8;
        }
        > .text {
            min-width: 165px;
        }
        .contacts {
            justify-self: center;
            min-width: 140px;
            .text:first-child {
                margin-bottom: 16px;
            }
        }
        .footer-buttons-row {
            gap: 16px;
            align-self: center;
            justify-content: center;
            .footer-btn {
                width: 40px;
                height: 40px;
                background-color: #1e2425;
                border-radius: 50px;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
            }
            .telegram-btn {
                background-image: url(images/telegram-icon.svg);
            }
            .youtube-btn {
                background-image: url(images/youtube-icon.svg);
            }
            .instagram-btn {
                background-image: url(images/instagram-icon.svg);
            }
        }
    }
}

@media (hover: hover) {
    .main {
        .description {
            .main-btn {
                transition: 0.2s all;
                // &:hover {
                // }
            }
        }
    }
}

// -------  Tablet -------

@media (max-width: 992px) {
    .main {
        .content-row {
            flex-direction: column;
        }
        .description {
            width: 100%;
            padding: 57px 0px;
            .description-content-wrapper {
                max-width: 80%;
            }
        }
        .course-name {
            width: 100%;
            padding: 57px 0px;

            .course-name-content-wrapper {
                width: auto;
                .circle {
                    width: 44px;
                    height: 44px;
                    background-size: 75%;
                }
            }
        }
    }
    .footer {
        padding-top: 32px;
        padding-bottom: 40px;
        .footer-wrapper {
            grid-template-columns: 1fr;
            justify-items: center;
            .subtitle {
                justify-self: center;
            }
            .text {
                margin-bottom: 16px;
                text-align: center;
            }
        }
    }
}

// ------- Mobile -------

@media (max-width: 576px) {
    .container {
        padding: 0px 16px;
    }
    .main {
        .description {
            padding: 84px 16px 16px;
            .description-content-wrapper {
                max-width: 100%;
            }
            .green-text {
                margin-bottom: 32px;
            }
            .main-btn {
                margin-bottom: 16px;
            }
        }
        .course-name {
            padding: 57px 16px;
            font-size: 48px;
            line-height: 60px;
        }
    }
}
