html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #111516;
}

.main-container {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0px 120px;
}

.row {
  display: flex;
}

.main {
  color: #ffffff;
}
.main .description {
  width: 45%;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .description .description-content-wrapper {
  max-width: 385px;
}
.main .description .logo {
  margin-bottom: 16px;
}
.main .description .subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}
.main .description .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  margin-bottom: 16px;
}
.main .description .green-text {
  color: #4ebd09;
}
.main .description .main-btn {
  margin-bottom: 30px;
  width: 100%;
  background-color: #37aee2;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  max-width: 500px;
}
.main .description .main-btn .button-row {
  justify-content: center;
  gap: 10px;
}
.main .description .main-btn .telegram-img {
  background-image: url(images/tg-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.main .course-name {
  background-color: #ffffff;
  color: #121617;
  width: 55%;
  font-size: 96px;
  font-weight: 600;
  line-height: 136px;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .course-name .course-name-content-wrapper {
  width: -moz-min-content;
  width: min-content;
}
.main .course-name .red-text {
  color: #e7462a;
}
.main .course-name .text-and-circle-row {
  align-items: center;
  gap: 30px;
}
.main .course-name .circle {
  width: 102px;
  height: 102px;
  background-color: #e7462a;
  border-radius: 50px;
  background-image: url(images/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  padding: 58px 0px;
  color: white;
}
.footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr;
  gap: 15px;
}
.footer .footer-wrapper .subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  justify-self: flex-end;
}
.footer .footer-wrapper .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  opacity: 0.8;
}
.footer .footer-wrapper > .text {
  min-width: 165px;
}
.footer .footer-wrapper .contacts {
  justify-self: center;
  min-width: 140px;
}
.footer .footer-wrapper .contacts .text:first-child {
  margin-bottom: 16px;
}
.footer .footer-wrapper .footer-buttons-row {
  gap: 16px;
  align-self: center;
  justify-content: center;
}
.footer .footer-wrapper .footer-buttons-row .footer-btn {
  width: 40px;
  height: 40px;
  background-color: #1e2425;
  border-radius: 50px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .footer-wrapper .footer-buttons-row .telegram-btn {
  background-image: url(images/telegram-icon.svg);
}
.footer .footer-wrapper .footer-buttons-row .youtube-btn {
  background-image: url(images/youtube-icon.svg);
}
.footer .footer-wrapper .footer-buttons-row .instagram-btn {
  background-image: url(images/instagram-icon.svg);
}

@media (hover: hover) {
  .main .description .main-btn {
    transition: all 0.3s ease-in-out;
  }
  .main .description .main-btn:hover {
    background-color: #1b85b3;
  }
  .footer .footer-wrapper .footer-buttons-row .footer-btn {
    transition: 0.2s all;
  }
  .footer .footer-wrapper .footer-buttons-row .footer-btn:hover {
    transform: scale(110%);
  }
}
@media (max-width: 992px) {
  .main .content-row {
    flex-direction: column;
  }
  .main .description {
    width: 100%;
    padding: 57px 0px;
  }
  .main .description .description-content-wrapper {
    max-width: 80%;
  }
  .main .course-name {
    width: 100%;
    padding: 57px 0px;
  }
  .main .course-name .course-name-content-wrapper {
    width: auto;
  }
  .main .course-name .course-name-content-wrapper .circle {
    width: 44px;
    height: 44px;
    background-size: 75%;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .footer .footer-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer .footer-wrapper .subtitle {
    justify-self: center;
  }
  .footer .footer-wrapper .text {
    margin-bottom: 16px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0px 16px;
  }
  .main .description {
    padding: 84px 16px 16px;
  }
  .main .description .description-content-wrapper {
    max-width: 100%;
  }
  .main .description .green-text {
    margin-bottom: 32px;
  }
  .main .description .main-btn {
    margin-bottom: 16px;
  }
  .main .course-name {
    padding: 57px 16px;
    font-size: 48px;
    line-height: 60px;
  }
}